<div id="<%= dom_id tick %>">
  <p>
    <strong>Name:</strong>
    <%= tick.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tick.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tick.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= tick.time %>
  </p>
 <div class="product-price-btn">
      <p><%= number_to_currency(tick.price) %></p>
        <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: tick.id %>
        <%= f.number_field :quantity, value: 1, min: 1 %>
        <button type="button"><%=f.submit "В корзину"%> </button>
          
      <%end%>
    </div>
</div>
