<div id="<%= dom_id tick %>">
  <p>
    <strong>Name:</strong>
    <%= tick.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tick.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tick.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= tick.time %>
  </p>

</div>
