<p style="color: green"><%= notice %></p>

<%= render @tick %>

<div>
  <%if current_user&.admin?%>
  <%= link_to "Edit this tick", edit_tick_path(@tick) %> |
  <%= button_to "Destroy this tick", @tick, method: :delete %>
  <%end%>  
  <%= link_to "Back to ticks", ticks_path %>
</div>
